<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!--360 browser -->
    <meta name="renderer" content="webkit">
    <meta name="author" content="wos">
    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="./images/i/app.png">
    <!--Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="./images/i/app.png">
    <!--Win8 or 10 -->
    <meta name="msapplication-TileImage" content="./images/i/app.png">
    <meta name="msapplication-TileColor" content="#e1652f">

    <link rel="icon" type="image/png" href="./images/i/favicon.png">
    <link rel="stylesheet" href="./css/amazeui.css">
    <link rel="stylesheet" href="./css/public.css">

    <!-- alert box -->
    <link rel="stylesheet" type="text/css" href="./css/xcConfirm.css">
    <script src="./js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="./js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->
    <script src="./js/amazeui.min.js"></script>
    <script src="./js/public.js"></script>
</head>
<body>

<header class="am-topbar am-topbar-fixed-top wos-header">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#"><img src="./images/LOGO1.png" alt=""></a>
        </h1>
    </div>
</header>

<!--banner-->
<div class="banner">
    <div class="am-g am-container padding-none">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 padding-none">
            <div data-am-widget="slider" class="am-slider am-slider-c1" data-am-slider='{"directionNav":false}' >
                <ul class="am-slides">
                    <li>
                        <img src="Temp-images/tad3.png">

                    </li>
                    <li>
                        <img src="Temp-images/tad3.png">

                    </li>
                    <li>
                        <img src="Temp-images/tad3.png">

                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="am-g am-container padding-none">
    <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" style="height: 280px;" >
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 " style="background-color: #FFF8DC;vertical-align: middle; text-align: center;">
        <img src="images/success.png" style=""/>
        <div style="background-color: #ffffff;font-family:Microsoft YaHei,Georgia,Serif;">
            <h5>您的留言我们已收到！</h5>
            将在三个工作日内予以反馈。
        </div>
        </div>
        </div>
    </div>
</div>

</body>
</html>